/* Font letra*/
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@300;400;600&display=swap");

body {
  background-color: rgb(167, 184, 223);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Poppins";
  }
  
  .header {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 40px;
    height: 75px;
    */TODO*/
    
  }

  .navbar{
    display: flex;
    align-items: center;
    gap: 100px;
  }
.navbar-list{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.navbar-list a{
  color: black;
  font-weight: 600;

}
.logo{
  width: 50px;
  height: 50px;

}
.carrito{
  height: 50px;
  cursor: pointer;
}

/*HERO*/



main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  #hero{
    margin-top: 75px;
    padding: 50px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-info{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
  }
  
  .hero-info h1 {
    font-size: xx-large;
  color: white;
  font-weight: 900;
  }
  
  .hero-info p {
    font-size: small;
    width: 70%;
    color: white;
    font-weight: 400;
  }
  .span{
    font-size: medium;
    color: white;
    font-weight: 600;
  }
  
  .boton{
    color: rgba(12, 1, 1, 0.795);
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 5px 8px;
  width: fit-content;
  font-weight: 600;
  font-size: small;
  }
  
  .img-remera{
    border-radius: 10px;
  }
  
  .hero-remera{
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
  
  .hero-remera-info{
    display: flex;
    flex-direction:column;
    gap: 5px;
  }
  
  .hero-remera-top{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .hero-remera-top h3 {
    white-space: ;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
  }
  
  .temporada-verano p{
    font-size: small;
  }
  
  .hero-remera-abajo {
    display: flex;
    justify-content: space-between;
  }
  
  .hero-modelo {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .hero-botones{
    display: flex;
    align-items: center;
    gap: 15px;
  }

  #about{
    text-align: center;
    margin-top: 70px;
    max-width: 1000px;
  }
  
  .about-info{
    font-size: medium;
    font-weight: 300;
    color: white;
  }

  .footer-links{
    display: flex;
    gap: 25px;
    color: white;
  }

  .footer-links a{
    color: white;
  }

  .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 15px;
    gap: 20px;
    margin-top: 40px;
    border-top: 1px solid whitesmoke;

  }

  .footer p{
    color: white;
  }
  
  /*INFO REMERA*/

.img-tarjeta{
  height: 40px;
  border-radius: 10px;
}
#cards{
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
#cards h2{
  font-size:x-large;
  font-weight: 900;
  color: white;
}

.cards-remera {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius:10px ;
  padding: 20px;
  max-width: 300px;
  text-align: center;
}
.cards-remera h3{
  font-size: larger;
  font-weight: 600;
}
.cards-remera p {
  font-size: medium;
  font-weight: 400;
}
.cards-remera-contenedor{
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

#contacto {
display: flex;
flex-direction: column;
justify-content: center;
padding: 40px 200px;
max-width: 1200;
}

.ubi{
  width: 20px;
  border-radius: 15px;
}

.footer-contacto{
  display: flex;
  gap: 210px;
  margin-top: 40px;
}

.footer-datos{
display: flex;
gap: 200px;
margin-top: 15px;
}

.calle{
  display: flex;
  gap: 3px;
}

.footer-datos2{
  display: flex;
  gap: 88px;
  margin-top: 15px;
  }

  #contacto h3{
    font-size: larger;
  font-weight: 900;
  color: white;
  }

  #contacto p{
    color: white;
    font-size: medium;
    font-weight: 400;
  }

  @media(max-width: 992px) {
  .hero-remera{
    display: none;
  }

  .hero-info{
    text-align: center;
    align-items: center;
    width: 100%;
  }

  .about-info {
    display: none;
  }

  .cards-remera-contenedor{
    display: flex;
    flex-direction: column;
  }

  #contacto h3{
    font-size: large;
  }
  #contacto p{
    font-size: small;
    font-weight: 600;
  }
  #contacto img{
    width: 1px 1px;
  }

  #contacto {
    padding: 40px;
  }

  .navbar {
    gap: 50px;
  }
  }
  

  @media (max-width: 580px) {
    body {background-color;}

    #contacto {
      flex-direction: column;
      padding: 15px;
      gap: 5px;
    }

    .footer-datos {
      gap: 5px 100px;
      padding: 3px;
    }

    .footer-datos2 {
      gap: 5px;
    }

    .footer-contacto {
      gap: 115px;
    }

    .navbar-list {
      gap: 20px;
    }

    .navbar {
      gap: 20px;
    }

    .header{
      padding: 10px;
    }

    .footer-links {
      flex-direction: column;
    }
    
    }


  }


  